.text {
  color: var(--text-color);
}

.home-container {
  display: flex;
  flex-direction: row;
}

.intro {
  margin-bottom: 1em;
  display: block;
  content: "";
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5em;
}
.memoji {
  height: 20rem;
}

.page-split {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 70%;
}
