.page-header {
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.logo {
  height: 14rem;
}

.main-nav {
  display: flex;
  color: var(--text-color);
}

.main-nav .list-item a {
  color: var(--text-color);
  text-decoration: none;
}

.main-nav .list-item a:hover {
  position: relative;
  z-index: 1;
}

.main-nav .list-item a:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 60px;
  background-image: url("../../assets/coffee-splatter.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

.main-nav .list-item a.active {
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.main-nav .list-item a.active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 60px;
  background-image: url("../../assets/coffee-splatter.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

.list-item {
  display: inline-block;
  margin-right: 16px;
  background-image: url("../../assets/coffee-splatter.png");
}

ul {
  list-style-type: none;
}
